@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
    overflow: hidden;
}


.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;


}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background:black;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background:transparent;
   text-align: center;
   width: 500px;
   border: 2px solid white;
   margin-top: -150px;

}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:white;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: transparent;
   border-radius: 5px;
   border: 1px solid white;
   color: white;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background:transparent;
   color: white;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #D06047;
   transition: all .7s;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#D06047;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}



.navbar a {
   position: relative;
   font-size: 16px;
   color: white;
   margin-right: 30px;
   text-decoration: none;
}

.navbar a::after {
   content: "";
   position: absolute;
   left: 0;
   width: 100%;
   height: 2px;
   background: var(--orange);
   bottom: -5px;
   border-radius: 5px;
   transform: translateY(10px);
   opacity: 0;
   transition: .5s ease;
}

.navbar a:hover:after {
   transform: translateY(0);
   opacity: 1;
}


.header .header-1{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 9%;
   background: black;
}

.header .header-1 .logo{
   font-size: 1.5rem;
   font-weight: bolder;
   color: var(--black);
}

.header .header-1 .logo i{
   color: #D06047;

}

.header .header-1 .icons div,
.header .header-1 .icons a{
   font-size: 1.5rem;
   margin-left: 1.5rem;
   color: white;
   cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
   color: #D06047;
}
