body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(222, 235, 147);
    padding: 25px 5%;
}

.logo {
    float: left;
    font-size: 24px;
    vertical-align: middle;
    line-height: 1px;
    color: rgb(255, 0, 0);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 50px;
    float: right;
    line-height: 1px;
}

.navbar a {
    text-decoration: none;
    color: rgb(86, 109, 4);
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: rgb(233, 254, 0);
}

/* Cart settings */

/* Global settings */
body {
    padding: 0 30px 30px 20px;
    font-family: Arial, sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: 100;
}

label {
    color: #aaa;
}

.shopping-cart {
    margin-top: -45px;
}

/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .product-image,
.column-labels .product-details,
.column-labels .product-removal {
    text-indent: -9999px;
}

/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product-image {
    text-align: center;
}

.product-image img {
    width: 100px;
}

.product-details .product-title {
    margin-right: 20px;
    font-weight: bold;
}

.product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product-quantity input {
    width: 40px;
}

.remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
}

.remove-product:hover {
    background-color: #a44;
}

/* Totals section */
.totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.totals-item-total {
    font-weight: bold;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        margin: 0 0 10px 10px;
    }

    .product-details {
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }

    .product-quantity input {
        margin-left: 20px;
    }

    .product-quantity:before {
        content: 'x';
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals .totals-item label {
        width: 60%;
    }

    .totals .totals-item .totals-value {
        width: 40%;
    }
}
