body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.navbar {
    background-image: url("nav1.jpg");
    padding: 25px 5%; /* Adjust padding as a percentage of the viewport width */
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease ;
}
.navbar a:hover {
    color: orange; /* Change the color on hover */
}

.content {
    padding: 20px;
    text-align: right; /* Align text to the right */
}

.-big-description {
    text-align: right; /* Align text to the right */
}

.-big-description h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right; /* Align heading text to the right */
}

.-big-description p {
    font-size: 16px;
    color: #666;
    text-align: right; /* Align paragraph text to the right */
}







.content1 {
    padding: 20px;
    text-align: left; /* Align text to the right */
}

.-big-description1 {
    text-align: left; /* Align text to the right */
}

.-big-description1 h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left; /* Align heading text to the right */
}

.-big-description1 p {
    font-size: 16px;
    color: #666;
    text-align: left; /* Align paragraph text to the right */
}


.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px; /* Negative margin to counteract spacing */
}

.photo {
    position: relative;
    margin: 0 60px 400px; /* Adjust margins to add spacing */
    width: calc(25% - 30px); /* Set the width of each photo (25% - margin) */
    height: auto; /* Adjust height as needed */
    overflow: hidden;
    box-sizing: border-box;
}


.photo img {
    width: 100%; /* Ensure the image fills the square container */
    height: 100%; /* Ensure the image fills the square container */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
    transition: transform 0.3s ease;
}



.photo:hover img {
    transform: scale(1.1);
}

.description {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo:hover .description {
    opacity: 1;
}
